p.zero {
   width: 650px;
   margin-left: 0px;
   font-family:helvetica;
   font-size: 90%
}

p.twenty_five {
    width: 650px;
    margin-left: 25px;
    font-size: 90%;
    font-family: helvetica;
}

p.normal {
   width: 650px;
   font-family: helvetica;
   font-size: 80%
}

p.courier{
  width: 800px;
  margin-left: 25px;
  font-family: courier;
  font-size: 80%
  }

h3 {
  font-family: helvetica;
  font-size: 110%;
  font-variant: small-caps
}

td.left{
  padding-left: 1cm;
  font-family: helvetica;
  font-size: 80%
}
td.leftW{
  width: 650px;
  padding-left: 1cm;
  font-family: helvetica;
  font-size: 80%
}
td.regular_courier{
  font-family: courier;
  vertical-align: top;
  font-size: 80%
}
td.regular{
  font-family: helvetica;
  vertical-align: top;
  font-size: 80%
}
td.regularW{
  font-family: helvetica;
  padding-left: .25cm;
  vertical-align: top;
  width: 650px;
  font-size: 80%
}
td.regular_left{
  font-family: helvetica;
  padding-left: .5cm;
  vertical-align: top;
  font-size: 80%
}
td.regular_left_2{
  font-family: helvetica;
  padding-left: 2cm;
  vertical-align: top;
  font-size: 80%
}
td.courier{
  font-family: courier;
  vertical-align: top;
  font-size: 80%
}
/* courier_left with no width */
td.courier_leftnw{
  font-family: courier;
  vertical-align: top;
  padding-left: 2cm;
  font-size: 80%
}
td.courier_left{
  width: 800px;
  font-family: courier;
  vertical-align: top;
  padding-left: 2cm;
  font-size: 80%
}
td.courier_right{
  width: 40px;
  font-family: courier;
  vertical-align: top;
  text-align: right;
  font-size: 80%
}
/* formatting for the table of contents */
td.Tregular{
  width: 650px;
  font-family: helvetica;
  vertical-align: top;
  font-size: 80%
}
td.Tregular_left{
  width: 650px;
  font-family: helvetica;
  padding-left: .55cm;
  vertical-align: top;
  font-size: 80%
}
td.Tregular_left_2{
  width: 650px;
  font-family: helvetica;
  padding-left: 1.1cm;
  vertical-align: top;
  font-size: 80%
}
td.Tregular_left_3{
  width: 650px;
  font-family: helvetica;
  padding-left: 1.6cm;
  vertical-align: top;
  font-size: 80%
}
th.tocheader{
  font-family: helvetica;
  vertical-align: top;
  font-size: 95%;
  text-align: left;
  font-decoration: bold
}

td.dyncourier{
  font-family: courier;
  vertical-align: top;
  font-size: 110%
}
td.regular_left_dynamic{
  font-family: helvetica;
  padding-left: .5cm;
  vertical-align: top;
  font-size: 110%
}



p.breakhere{
  page-break-before: always
}

p.emphasis{
  width: 650px;
  font-family: helvetica;
  font-size: 90%;
  font-variant: small-caps
}

li.list{
  width: 650px;
  font-family: helvetica;
  vertical-align: top;
  font-size: 95%
}

a.code{
  text-decoration: none;
}

td.ack{
  font-family: helvetica;
  font-size: x-small;
}
